{% extends "base_generic.html" %}
{% block content %}

<div class="container-fluid px-md-5">
  <img class="rounded mx-auto d-block" src="{{ author.image.url}}" alt="{{author.title}}" style="width:200px" heighet="100">

<h1>Author: {{ author.first_name }} {{author.last_name}}</h1>
<h5>Birthdate: {{ author.date_of_birth }}</h5>


<div>

<h5>Books</h5>
{% for copy in author.book_set.all %}

<p><strong><a href="{% url 'book-detail' copy.id %}">{{copy.title}}</a></strong><br />
  {{copy.summary2|safe}}
</p>

{% endfor %}
</div>

</div>

{% endblock %}
